<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apps</key>
	<array>
		<dict>
			<key>name</key>
			<string>Maya</string>
			<key>requirement</key>
			<string>driver</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Adobe Lightroom*</string>
			<key>requirement</key>
			<string>driver</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Adobe Premiere Pro*</string>
			<key>requirement</key>
			<string>driver</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Adobe After Effects*</string>
			<key>requirement</key>
			<string>driver</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Adobe Photoshop*</string>
			<key>requirement</key>
			<string>driver</string>
		</dict>
		<dict>
			<key>name</key>
			<string>DAZStudio</string>
			<key>requirement</key>
			<string>driver</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mathematica</string>
			<key>requirement</key>
			<string>toolkit</string>
		</dict>
		<dict>
			<key>name</key>
			<string>blender</string>
			<key>requirement</key>
			<string>driver</string>
		</dict>
	</array>
</dict>
</plist>
