<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>updates</key>
	<array>
		<dict>
			<key>build</key>
			<string>17D102</string>
			<key>downloadURL</key>
			<string>https://egpu.io/wp-content/uploads/wpforo/attachments/71/4587-NVDAEGPUSupport-v7.zip</string>
			<key>packageName</key>
			<string>NVDAEGPUSupport-v7.pkg</string>
			<key>author</key>
			<string>devild</string>
		</dict>
		<dict>
			<key>build</key>
			<string>17D47</string>
			<key>downloadURL</key>
			<string>https://cdn.egpu.io/wp-content/uploads/wpforo/attachments/71/4376-NVDAEGPUSupport-v6.zip</string>
			<key>packageName</key>
			<string>NVDAEGPUSupport-v6.pkg</string>
			<key>author</key>
			<string>devild</string>
		</dict>
		<dict>
			<key>build</key>
			<string>17C205</string>
			<key>downloadURL</key>
			<string>https://cdn.egpu.io/wp-content/uploads/wpforo/attachments/71/4316-NVDAEGPUSupport-v4-SU.zip</string>
			<key>packageName</key>
			<string>NVDAEGPUSupport-v4-SU.pkg</string>
			<key>author</key>
			<string>devild</string>
		</dict>
		<dict>
			<key>build</key>
			<string>17C89</string>
			<key>downloadURL</key>
			<string>https://cdn.egpu.io/wp-content/uploads/wpforo/attachments/71/4089-nvidia-egpu-v4-cu.zip</string>
			<key>packageName</key>
			<string>NVDAEGPUSupport-v4-CU.pkg</string>
			<key>author</key>
			<string>devild</string>
		</dict>
		<dict>
			<key>build</key>
			<string>17C88</string>
			<key>downloadURL</key>
			<string>https://cdn.egpu.io/wp-content/uploads/wpforo/attachments/71/4035-nvidia-egpu-v4.zip</string>
			<key>packageName</key>
			<string>NVDAEGPUSupport-v4.pkg</string>
			<key>author</key>
			<string>devild</string>
		</dict>
		<dict>
			<key>build</key>
			<string>17B1003</string>
			<key>downloadURL</key>
			<string>https://cdn.egpu.io/wp-content/uploads/wpforo/attachments/5991/4015-3858-nvidia-egpu-v3-1013-1.zip</string>
			<key>packageName</key>
			<string>NVDAEGPUSupport.pkg</string>
			<key>author</key>
			<string>ricosuave0922</string>
		</dict>
		<dict>
			<key>build</key>
			<string>17B48</string>
			<key>downloadURL</key>
			<string>https://cdn.egpu.io/wp-content/uploads/wpforo/attachments/3/3858-nvidia-egpu-v2-1013-1.zip</string>
			<key>packageName</key>
			<string>NVDAEGPUSupport-v2.pkg</string>
			<key>author</key>
			<string>devild</string>
		</dict>
		<dict>
			<key>build</key>
			<string>17A405</string>
			<key>downloadURL</key>
			<string>https://cdn.egpu.io/wp-content/uploads/wpforo/attachments/3/3857-nvidia-egpu-v1-1013.zip</string>
			<key>packageName</key>
			<string>NVDAEGPUSupport-v1.pkg</string>
			<key>author</key>
			<string>devild</string>
		</dict>
		<dict>
			<key>build</key>
			<string>17D2104</string>
			<key>downloadURL</key>
			<string>https://egpu.io/wp-content/uploads/wpforo/attachments/71/4687-NVDAEGPUSupport-iMacPro-2104pkg.zip</string>
			<key>packageName</key>
			<string>NVDAEGPUSupport-iMacPro-2104.pkg</string>
			<key>author</key>
			<string>devild</string>
		</dict>
		<dict>
			<key>build</key>
			<string>17D2102</string>
			<key>downloadURL</key>
			<string>https://egpu.io/wp-content/uploads/wpforo/attachments/71/4588-NVDAEGPUSupport-iMacPro-2102.zip</string>
			<key>packageName</key>
			<string>NVDAEGPUSupport-iMacPro-2102.pkg</string>
			<key>author</key>
			<string>devild</string>
		</dict>
		<dict>
			<key>build</key>
			<string>17D2047</string>
			<key>downloadURL</key>
			<string>https://egpu.io/wp-content/uploads/wpforo/attachments/71/4377-NVDAEGPUSupport-iMacPro-2047.zip</string>
			<key>packageName</key>
			<string>NVDAEGPUSupport-iMacPro-2047.pkg</string>
			<key>author</key>
			<string>devild</string>
		</dict>
		<dict>
			<key>build</key>
			<string>17C2205</string>
			<key>downloadURL</key>
			<string>https://egpu.io/wp-content/uploads/wpforo/attachments/71/4361-NVDAEGPUSupport-iMacPro-2205.zip</string>
			<key>packageName</key>
			<string>NVDAEGPUSupport-iMacPro-2205.pkg</string>
			<key>author</key>
			<string>devild</string>
		</dict>
		<dict>
			<key>build</key>
			<string>17C2120</string>
			<key>downloadURL</key>
			<string>https://egpu.io/wp-content/uploads/wpforo/attachments/71/4174-NVDAEGPUSupport-iMacPro-2120.zip</string>
			<key>packageName</key>
			<string>NVDAEGPUSupport-iMacPro-2120.pkg</string>
			<key>author</key>
			<string>devild</string>
		</dict>
	</array>
</dict>
</plist>
